@import "../../global/style/variables.scss";
@import "../../global/style/mixins.scss";

:host {
  display: block;
  margin-top: 10px; 
}

.recent-activity-wrapper {
  @include flexboxCenter(column);
}
h2 {
  @include h2;
}
.recent-activity-container {
  @include flexboxCenter(row);
  flex-wrap: wrap;
  max-width: 90%;
}
.filter-selector{
  @include flexboxCenter(row);
  font-size: 0.8em;
  font-family: $fontFamily;
  color: $secondaryColor;
  div{
    margin: 10px;
    &:hover{
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
.selected{
  text-decoration: underline;
  color: $primaryColor;
}