@import "../../global/style/mixins.scss";
@import "../../global/style/variables.scss";

:host {
  display: block;
}

.star-selected {
  @include flexboxCenter(row);
  margin: 2px;
  width: 22px;
  height: 22px;
  background-color: rgb(241, 127, 114);
  border-radius: 3px;
  img {
    width: 70%;
  }
  &:hover {
    cursor: pointer;
  }
  &.star-not-selected{
    background-color: rgb(205, 205, 205);  
  }
}