:host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 1020px;
  padding: 30px;
}

.links {
  display: flex;
  flex-direction: row;
}

.btn {
  display: flex;
  flex-direction: row;
}