:host {
  display: block;
}
.card-container {

  font-family: Arial, Helvetica, sans-serif;
  margin: 15px;
  width: 280px;
  min-height: 300px;
  border: 1px solid rgb(234, 234, 234);
  border-radius: 5px;
}
.title-container {
  padding: 7px;
  display: flex;
  flex-direction: row;
}
.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatar img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
.author {
  margin-left: 10px;
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
}
.author a {
  color: rgb(76, 135, 230);
  font-weight: 800;
  margin-bottom: 3px;
}
.author a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.line {
  width: 90%;
  height: 1px;
  background-color: rgb(233, 233, 233);
  margin: 5px auto;
}
.place-name {
  color: rgb(76, 135, 230);
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px 7px;
  font-weight: 800;
  font-size: 0.9em;
}
.place-name:hover {
  cursor: pointer;
  text-decoration: underline;
}
.photo-container {
  display: flex;
  flex-direction: column;
  margin: 7px auto 0 auto;
  width: 95%;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 3px;
}
.photo-container img {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  width: 100%;
}
.show-all-photos {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
.show-all-photos a{
  font-size: 0.8em;
  margin: 7px auto;
  color: rgb(76, 135, 230);
}
.show-all-photos a:hover{
  cursor: pointer;
  text-decoration: underline;
}