:host {
  display: block;
  padding: 5px;
}

.btn {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
  background-color: Transparent;
  background-repeat:no-repeat;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.btn:hover {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
  background-color: white;
  background-repeat:no-repeat;
  color: rgb(85, 85, 85);
  cursor: pointer;
  transition: color 1s linear;
}

.btn-without-border {
  border: none;
  background-color: Transparent;
  background-repeat:no-repeat;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.btn-without-border:hover {
  border: none;
  border-bottom: 2px solid white;
  background-color: Transparent;
  background-repeat:no-repeat;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: color 1s linear;
}