@import '../../global/style/mixins.scss';
@import '../../global/style/variables.scss';

:host {
  display: block;
  max-width: 1200px;
}
.home-page-hero-container {
  @include flexboxCenter(column);

  justify-content: space-between;  
  min-width: 1020px;
  max-width: 1200px;
  min-height: 500px;
  background: rgba(131, 131, 131, 0.322);
  position: relative;
  &:after {
    content: "";
    background: url("https://media-cdn.tripadvisor.com/media/photo-m/1280/13/8c/6d/99/dark-vader-burger.jpg");
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }
}


.home-page-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
  img {
    height: 60px;
    margin-bottom: 40px;
  }
}

ul li {
  font-family: $fontFamily;
  font-weight: 800;
  color: white;
  margin: 10px;
  display: inline;
  &:hover{
    text-decoration: underline;
  }
}

.random-place-info{
  @include flexboxCenter(column);

  color: white;
  font-family: $fontFamily;
  margin-bottom: 25px;
  a {
    font-weight: 700;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}